<md-sidenav #sidenav fxLayout="column">
    <div (swipeleft)="sidenav.close()" fxFill>
        <div fxLayout="column" fxLayoutAlign="start stretch" >
            <!-- Home -->
            <button color="" class="my-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">home</md-icon>
                <span>Home</span>
            </button>

            <!-- Release Notes-->
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">note</md-icon>
                <span>Release Notes</span>
            </button>

            <!-- Contact Us-->
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">email</md-icon>
                <span class="">Contact Us</span>
            </button>

            <!-- Rate this App-->
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">star</md-icon>
                <span fxFill>Rate This App</span>
            </button>

            <!-- User Guide -->
            <button color="" class="" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">info</md-icon>
                <span>User Guide</span>
            </button>

        </div>
    </div>

    </md-sidenav>

<!--<md-sidenav #leftSidenav fxLayout="column">
    <div (swipeleft)="leftSidenav.close()" fxFill>
        <div fxLayout="column" fxLayoutAlign="start stretch" >
            <button color="" class="my-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">home</md-icon>
                <span>ffHome</span>
            </button>
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">note</md-icon>
                <span>Release Notes</span>
            </button>
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">email</md-icon>
                <span class="">Contact Us</span>
            </button>
            <button color="" class="mb-2" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">star</md-icon>
                <span fxFill>Rate This App</span>
            </button>
            <button color="" class="" md-raised-button fxLayout="row" fxLayoutAlign="space-between stretch">
                <md-icon class="">info</md-icon>
                <span>User Guide</span>
            </button>
        </div>
    </div>
</md-sidenav>-->
